{
  "server": {
    "host": "127.0.0.1",
    "port": 3000
  },
  "db": {
    "user": "app",
    "host": "{{ db_ip }}",
    "database": "mywebapp_db",
    "password": "password",
    "port": 5432
  }
}