[Unit]
Description=MyWebApp
After=network.target

[Service]
Type=simple
User=app
WorkingDirectory=/home/student/software_deployment/lab4/mywebapp

ExecStart=/usr/bin/node index.js

Restart=always
RestartSec=5

Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target