#cloud-config

hostname: ${hostname}
manage_etc_hosts: true

ssh_pwauth: true
disable_root: true

users:
  - default

  - name: ansible
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    plain_text_passwd: "12345678"
    ssh_authorized_keys:
      - ${ssh_key}

  - name: teacher
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) ALL
    lock_passwd: false
    plain_text_passwd: "12345678"

  - name: operator
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:/usr/bin/systemctl start mywebapp,/usr/bin/systemctl stop mywebapp,/usr/bin/systemctl restart mywebapp,/usr/bin/systemctl status mywebapp,/usr/bin/systemctl reload nginx
    lock_passwd: false
    plain_text_passwd: "12345678"

  - name: app
    system: true
    shell: /usr/sbin/nologin

packages:
  - qemu-guest-agent

runcmd:
  - systemctl enable ssh
  - systemctl restart ssh